@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sec-blue: #005596;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[dir="rtl"] body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
